{% extends "base.html" %}
{% load static %}
{% block title %}Employees{% endblock %}

{% block content %}
<h2 class="mb-4">Employees</h2>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Department</th>
      <th>Designation</th>
      <th>Phone</th>
      <th>Hire Date</th>
    </tr>
  </thead>
  <tbody>
    {% for e in employees %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ e.user.name }}</td>
      <td>{{ e.department.name }}</td>
      <td>{{ e.designation.name }}</td>
      <td>{{ e.phone_number }}</td>
      <td>{{ e.hire_date }}</td>
    </tr>
    {% empty %}
    <tr><td colspan="6">No employees.</td></tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
